---
layout: contained-with-title
title: Afonsinos
permalink: /afonsinos
---


<div class="d-flex flex-row-reverse m-2">
  <button id="mostrartodos" class="btn btn-outline-dark btn-lg" role="button" onclick="toggleAccordions()"> Mostrar todos </button>
  <script>
    function toggleAccordions() {
      var acbttn = document.querySelectorAll(".accordion-button")
      var acelem = document.querySelectorAll(".accordion-collapse")
      if (document.getElementById("mostrartodos").dataset.open === "true") {
        acelem.forEach(elem => elem.classList.remove("show"));
        acbttn.forEach(elem => elem.classList.add("collapsed"));
        document.getElementById("mostrartodos").dataset.open = ""
      } else {
        acelem.forEach(elem => elem.classList.add("show"));
        acbttn.forEach(elem => elem.classList.remove("collapsed"));
        document.getElementById("mostrartodos").dataset.open = "true"
      }

    }
  </script>
</div>
{% assign gen = 0 %}
{% for geracao in site.data.afonsina.geracoes %}
  <div class="accordion accordion-flush" id="parentgen{{ geracao.geracao }}">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headinggen{{ geracao.geracao }}">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#gen{{ geracao.geracao }}"
          aria-controls="gen{{ geracao.geracao }}"
          aria-expanded="false" 
        >
        <span class="text-uppercase fw-bold">{{ geracao.geracao }} - {% if gen == 0 %} Fundadores {% else %} {{gen}}ª Geração {% endif %}</span>
        </button>
      </h2>
      <div
        id="gen{{ geracao.geracao }}"
        class="accordion-collapse collapse"
        aria-labelledby="headinggen{{ geracao.geracao }}"
        data-bs-parent="#parentgen{{ geracao.geracao }}"
      >
        <div class="accordion-body">
          <div class="container-fluid p-0">
            <div class="row">
              {% for elemento in geracao.elementos %}
                {% assign tuno = site.data.afonsinos[elemento] %}
                <div class="col-6 col-md-4 col-lg-3" data-bs-toggle="modal" data-bs-target="#modal{{ geracao.geracao }}-{{ tuno.numero }}">
                  <div class="d-flex flex-column p-2 fotoframe" style="cursor: pointer;">
                    <img src="/assets/images/tunos/{{ elemento }}.jpg" class="img-fluid" alt="{{ elemento }}">
                    <span>{{ tuno.alcunha }}</span>
                  </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="modal{{ geracao.geracao }}-{{ tuno.numero }}" tabindex="-1" aria-labelledby="modal{{ tuno.numero }}Label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal{{ tuno.numero }}Label">{{ tuno.alcunha }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <img src="/assets/images/tunos/{{ elemento }}.jpg" class="img-fluid" alt="{{ elemento }}">
                        <div class="py-3">
                          {% if gen == 0 %} <p><strong> Membro Fundador </strong></p> {% else %} <p><strong>Numero de Pendericalho:</strong>  {{ tuno.numero }} </p> {% endif %}
                          <p><strong>Alcunha:</strong> {{ tuno.alcunha }}</p>
                          <p><strong>Nome:</strong> {{ tuno.nome }}</p>
                          <p><strong>Instrumento:</strong> {{ tuno.instrumento }}</p>
                          {% if gen != 0 %}
                          <p><strong>Evento de passagem:</strong> {{ tuno.passagem_evento }}</p>
                          <p><strong>Local de passagem:</strong> {{ tuno.passagem_local }}</p>
                          <p><strong>Data de passagem:</strong> {{ tuno.passagem_data }}</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% assign gen = gen | plus: 1 %}
{% endfor %}

