---
layout: contained-with-title
title: Cidade Berço
permalink: /cidade-berco
background-image: /assets/images/cidadeBerco.jpg
---

{% include background-image.html %}

<p> Cidade Berço - Festival de Tunas Académicas </p>
<p>
  O maior evento organizado pela Afonsina, é um festival de tunas académicas realizado na cidade de Guimarães.
  O festival encontra-se já na sua {{ site.data.cidade_berco | size}}ª edição e tem contado com a presença de algumas das melhores tunas do Universo!
</p>
<br>

<div class="container-fluid p-0">
  <div class="row">
    {% assign cbn = 0 %}
    {% for cb in site.data.cidade_berco %}
      <div class="p-1 {% unless cb.rectangular %} col-4 col-lg-3 {% else %} col-8 col-lg-6 {% endunless %}" >
        <img src="/assets/images/cidade_berco/{{ cb.imagem }}" class="zoom img-fluid fotoframe p-1" alt="{{ cb.nome }}" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modal-cb-{{cbn}}">
      </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-cb-{{cbn}}" tabindex="-1" aria-labelledby="modal{{cbn}}Label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-dark">
              <div class="modal-header">
                <p class="fs-1 modal-title" id="modal{{cbn}}Label"><strong>{{ cb.nome }}</strong></p>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <div class="container fotoframe p-3">
                  <div class="row p-4">
                    <div class="col-12 col-md-6 pb-4">
                      <p><strong>{{ cb.data }}</strong></p>
                      <p class="fs-4"><strong>Tunas a concurso:</strong></p>
                      {% for tuna in cb.tunas_concurso %}
                        <p>{{ tuna }}</p>
                      {% endfor %}
                      {% if cb.playlist %}
                        <br>
                        <br>
                        <p class="fs-4"><strong>Assiste <a href="{{cb.playlist}}" class="link-light"> aqui!</a></strong></p>
                      {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                      <img src="/assets/images/cidade_berco/{{ cb.imagem }}" class="img-fluid float-end" alt="{{ cb.nome }}">
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      {% assign cbn = cbn | plus: 1 %}
    {% endfor %}
  </div>
</div>

<br>
<br>