<style>
    .flagbar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;
    }
    .background-class {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        background-attachment: fixed;
        background-image: url('{{ page.background-image }}'); 
        background-position: center; 
        background-repeat:no-repeat; 
        background-size: cover;
    }
    .background-img {
      background-attachment: fixed;
      background-image: url('{{ page.background-image }}'); 
      background-position: center; 
      background-repeat:no-repeat; 
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);
      z-index: -1;
      margin: -10%;
    }
  </style>      