<footer>
    <div class="container-fluid text-white bg-dark pt-2">
        <div class="row">
          <div class="col-12 col-md-5 d-flex justify-content-center  py-4">
            <div>
            <img src="/assets/images/brasao.webp" class="img-fluid" style="max-width: 345px; width:100%;" alt="brasao">
            </div>
          </div>
          <div class="col-12 col-md-3 d-flex justify-content-start justify-content-md-center py-3 px-5 px-md-0">
            <div>
                <h3 class="h4 text-uppercase fw-bold fs-1">Contactos</h3>
                <p>
                    {{ site.data.contacts.address }}
                </p>
                <h5>Email: </h5>
                <p>
                    {{ site.data.contacts.email }}
                </p>
                <h5>Telemóvel: </h5>
                <p>
                    {{ site.data.contacts.mobile }}
                </p>
            </div>
          </div>
          <div class="col-12 col-md-3 d-flex justify-content-start justify-content-md-center py-3 px-5 px-md-0">
            <div>
                <h3 class="h4 text-uppercase fw-bold fs-1">Social</h3>
                <h5><a class="link-light" href="{{ site.data.contacts.facebook }}" target="_blank">Facebook</a></h5>
                <h5><a class="link-light" href="{{ site.data.contacts.instagram }}" target="_blank">Instagram</a></h5>
                <h5><a class="link-light" href="{{ site.data.contacts.spotify }}" target="_blank">Spotify</a></h5>
                <h5><a class="link-light" href="{{ site.data.contacts.youtube }}" target="_blank">YouTube</a></h5>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row footer-bottom py-2 px-5">
            <div class="col-12">
                <div class="copyright">
                    <span>© Copyright Afonsina - TEUM</span>
                </div>
            </div>
        </div>
        <br>
    </div>
</footer>