
<div id="cross-vertical" class=" {% if page.layout == "pushed" %} cross-blue {% else %} cross-white {% endif %} cross-vertical d-none d-lg-block"></div>
<header>
  <nav class="navbar navbar-light">
    {% if page.layout == "pushed" %}
      <div id="cross-horizontal-white"></div>
      <div id="cross-head"></div>
    {% endif %}
    <div id="cross-horizontal" class=" {% if page.layout == "pushed" %} cross-blue {% else %} cross-white {% endif %} cross-horizontal"></div>
    <div class="container-fluid px-5">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/brasao.png" alt="brasao" height="80" width="95.5">
      </a>
      {% for item in site.data.navigation %}
        <div class="nav-item">
          <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
        </div>  
      {% endfor %}
    </div>
  </nav>
</header>