---
import type { Afonsinos, AfonsinoFilters } from "db";
export interface Props {
    afonsinos: Afonsinos;
    afonsinoFilters: AfonsinoFilters;
}
const { afonsinos, afonsinoFilters } = Astro.props as Props;
---

<div class="stat">
  <div class="stat-figure text-primary">
    <div class="avatar rounded-full ring ring-primary">
      <div class="w-16 rounded-full">
        <img src="/assets/images/mascote_tuno.webp" />
      </div>
    </div>
  </div>
  <div class="stat-value text-primary">
    {Object.keys(afonsinos).length}
  </div>
  <div class="stat-title">Afonsinos</div>
  <div class="stat-desc">
    {afonsinoFilters.geracoes.length} geraçoes
  </div>
</div>
