---
import type { CB } from "db";
export interface Props {
    lastCB: string;
    cbs: Array<CB>
}
const { lastCB, cbs } = Astro.props as Props;
---

<div class="stat">
  <div class="stat-figure">
    <div class="avatar">
      <div class="w-14 rounded-full ring ring-secondary">
        <img src={lastCB} />
      </div>
    </div>
  </div>
  <div class="stat-value text-secondary">{cbs.length}</div>
  <div class="stat-title">Cidade Berço</div>
  <div class="stat-desc">realizados</div>
</div>
