
@import "variables";
@import "fonts";
@import "header/cross";
@import "header/burger";
@import "header/sidebar";

body {
    font-family: "montserrat-regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    position: relative;
}

header {
    position: fixed;
    z-index: $z-index-header;
}

footer {
    position:relative;
    z-index: $z-index-footer;
}

.under-header {
    padding-top: $header-size;
}

.btn {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
  

.index-title {
    font-size: 4rem;
    font-family: 'montserrat-medium', sans-serif;
}
.index-subtitle {
    font-size: 1.2rem;
    font-family: 'montserrat-medium', sans-serif;
    letter-spacing: .3rem;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .index-title {
        font-size: 2rem;
    }
    .index-subtitle {
        font-size: 0.75rem;
    }
}

#index-sobre {
    background-color: rgba($afonsina-brick, 0.9);
}

.accordion-button {
    background-color: transparent !important;
    color: white;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
    background-color: transparent !important;
    color: white;
}

.fotoframe {
    box-shadow: 0px 3px 6px #00000029;
}

.zoom {
    overflow: hidden;
    transition: all .1s linear;
}

.zoom:hover {
    transform: scale(1.2);
  }