
.cross-white {
    background-color: white;
}

.cross-blue {
    background-color: $afonsina-blue;
}

.cross-vertical{
    height: 100%;
    width: $cross-thickness;
}

.cross-horizontal{
    width: 100%;
    height: $cross-thickness;
}

.cross-white-block {
    width: 100%;
    height: $header-size / 2;
}

#cross-horizontal {
    position: fixed;
    z-index: $z-index-header-cross;
    top: 33px;
    left: 0;
}

#cross-horizontal-white {
    position: fixed;
    z-index: $z-index-header-white-overlay;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: white;
}
