---
import Default from "@/layouts/Default.astro";
---

<Default>
  <div class="hero min-h-screen">
    <div class="hero-overlay"></div>
    <div class="hero-content text-center text-white">
      <div class="max-w-md">
        <h1 class="text-9xl font-bold">404</h1>
        <p class="py-6"><strong>Ups :(</strong></p>
        <p>Nao encontramos essa pagina.</p>
      </div>
    </div>
  </div>
</Default>
