---
import ContainedWithTitle from "@/layouts/ContainedWithTitle.astro";
import type { CB } from "db";
import { cbs } from "db";
import CidadeBerco from "@/components/CidadeBerco.svelte";

const cbImages: string[] = cbs.map((cc: CB) => cc.imagem);

const horizontalImage: string = cbs.find((cc: CB) => cc.rectangular === true)!.imagem;
const verticalImage: string = cbs.find((cc: CB) => cc.rectangular !== true)!.imagem;

---

<ContainedWithTitle title="Cidade Berço" preloadImage={ [horizontalImage, verticalImage] } prefetchImage={ cbImages }>

    <p  class="pt-4"> Cidade Berço - Festival de Tunas Académicas </p>
    <p  class="pt-4">
      O maior evento organizado pela Afonsina, é um festival de tunas académicas realizado na cidade de Guimarães.
      O festival encontra-se já na sua { cbs.length }ª edição e tem contado com a presença de algumas das melhores tunas do Universo!
    </p>
    <br>

		<CidadeBerco client:load horizontalFallback={horizontalImage} verticalFallback={verticalImage} cbs={ cbs } />

</ContainedWithTitle>
