<!doctype html>
<html class="no-js" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.data.page.title }}</title>
    <meta name="description" content="{{ site.data.page.description }}">
    <meta name="author" content="{{ site.data.page.author }}">
    
    {% comment %} Bootstrap insertion was alered to this methodology as to improve load speed as per https://developers.google.com/speed/pagespeed/insights/ {% endcomment %}
    {% include bootstrap-bundle-min-js.html %}
    {% include bootstrap-min-css.html %}

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body class="background-class" style="background-image: url('{{ page.background-image }}');">
    <div class="background-img" style="background-image: url('{{ page.background-image }}');"></div>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>