---
import Contained from "@/layouts/Contained.astro";

export interface Props {
  title: string;
  preloadImage?: string[];
	prefetchImage?: string[];
}

const { title, preloadImage = [], prefetchImage = [] } = Astro.props as Props;
---

<Contained preloadImage={ preloadImage } prefetchImage={ prefetchImage } >
  <div class="text-white sm:text-left min-w-[70%]">
    <div class="container mx-auto px-4 lg:px-20">
      <h1 class="text-5xl md:text-7xl font-bold mb-5">
        {title}
      </h1>
      <hr />
      <slot />
    </div>
  </div>
</Contained>
