---
import Default from "@/layouts/Default.astro";
export interface Props {
  preloadImage?: string[];
	prefetchImage?: string[];
}
const { preloadImage = [], prefetchImage = [] } = Astro.props;
---

<Default preloadImage={ preloadImage } prefetchImage={ prefetchImage } >
  <div class="flex justify-center min-h-screen pt-28">
    <slot />
  </div>
</Default>
